#Python
__pycache__
*.pyc
# database file
*.db

#Java delete all .class files
**/*.class  
out/

#Pascal delete all binary and execute files
**/*.o
**/*.exe

# VS Code files
.vscode/



#C files
**/*
!**/*/
# Ignore all C files
!**/*.c
!**/*.h