#Python
__pycache__/
*.pyc
*.pyo
*.pyd

*.pyc
# database file
*.db

#Java delete all .class files
**/*.class  
out/

#Pascal delete all binary and execute files
**/*.o
**/*.exe

# VS Code files
.vscode/

#replit
*.replit
*.nix
*.cache/

#C files
**/*
!**/*/
# Ignore everything
!**/*.c
!**/*.h
!**/*.cpp
!**/*.py
!**/*.java
!**/*.pas
!**/*.txt
!**/*.sh
!**/*.cs
!**/*.json
!**/*.js
!**/*.html
!**/*.css
!**/*.php
!**/*.psc
