modules = ["python-3.12", "nodejs-20", "web", "php-8.2"]
run = "php PHP/basic_concept/area.php"

[nix]
channel = "stable-24_05"

#[deployment]
#run = ["sh", "-c", "run = \"php'\""]
[deployment]
run = ["php", "PHP/basic_concept/area.php"]
