*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#32664A;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header{
    background-color:#1FF0BC;
    width: 100%;
    padding: 0;
    margin: 0;
   /* border: 0;*/
}
.header h1{
    text-align: center;
    color: #1F5BF0;
}

.nav{
    background-color: #72BCF5;
    width: 100%;
    padding: 0;
    margin: 0;
   
}
.nav div{
    
    margin: 2px;
    padding: 5px;
    background-color:#1FDEF0;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.nav div a{
    width: 200px;
    background-color: #32664A;
    color: #f6f6f6;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.main{
    background-color: #1FDEF0;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}

.main article{
    background-color: #cbe8f85e;
}

.main article .notice1 header{
    background-color: #dbee96;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}
.main article .notice1 main{
    background-color: #8d0482;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 50px;
}
.main article .notice2 header{
    background-color: #99fdc0;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}
.main article .notice2 main{
    background-color: #0bbd4fc0;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 50px;
}

.aside{
    background-color: #65FADB;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 80%;
}
.aside header{
    background-color: #dbee96;
    color:#000000;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.aside main{
    background-color: #1307c2c0;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 50px;
    text-align: center;
}
.footer{
   background-attachment: #000000;
   color: f6f6f6;
   padding: 10px;
   margin: 20px;
   width: 100%;


}
